{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css_variables %}
<link rel="stylesheet" type="text/css" href="{% static '/css/inventarios/administrar_catalogos.css' %}">
<!-- Latest compiled and minified CSS Selectpicker-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-xl-12">
			<div class="card shadow mb-4">
		    <div class="card-header py-3">
		      <h3 class="m-0 font-weight-bold text-primary">Administrar Catálogos</h3>
		    </div>
		    <div class="card-body">
		    	<!-- Div con los mensajes que envía el servidor -->
					<div id="snackbar">
						{% if messages %}
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						{% endif %}
					</div>
    			<!-- Termina div con los mensajes que envía el servidor -->

		    	<!-- Botones para agregar distintos elementos -->
		    	<div class="row">
		    		<!-- Botón para agregar categoría -->
		    		<div class="col-xl-6">
		    			<button type="button" class="btn btn-success boton-agregar" id="boton-agregar-categoria">Agregar Categorías</button>
		    		</div>
		    		<!-- Botón para agregar kilataje -->
		    		<div class="col-xl-6">
		    			<button type="button" class="btn btn-warning boton-agregar" id="boton-agregar-kilataje">Agregar Kilatajes</button>
		    		</div>
		    	</div>

		    	<br>

		    	<div class="row">
		    		<!-- Botón para agregar códigos de barras -->
		    		<div class="col-xl-6">
		    			<button type="button" class="btn btn-secondary boton-agregar" id="boton-agregar-codigo">Agregar Códigos de Barras</button>
		    		</div>
		    		<!-- Botón para agregar unidad de medida -->
		    		<div class="col-xl-6">
		    			<button type="button" class="btn btn-info boton-agregar" id="boton-agregar-unidad">Agregar Unidades de Medida</button>
		    		</div>
		    	</div>

		    	<br>

		    	<div class="row justify-content-center">
		    		<!-- Botón para agregar proveedor -->
		    		<div class="col-xl-6">
		    			<button type="button" class="btn btn-primary boton-agregar" id="boton-agregar-proveedor">Agregar Proveedores</button>
		    		</div>
		    	</div>
		    	<!-- Termina botones para agregar distintos elementos -->
					
					<hr>
		    	<br>

		    	<div class="row">

		    		<!-- Tabla de categorías -->
		    		<div class="col-xl-6">
		    			<div class="table-responsive">
		    				<table class="table" id="tabla-categorias">
		    					<thead class="thead-dark">
		    						<tr>
		    							<th>Categorías</th>
		    							<th></th>
		    							<th></th>
		    						</tr>
		    					</thead>
		    					<tbody>
		    						{% for categoria in categorias %}
		    						<tr>
		    							<td>{{ categoria }}</td>
		    							<td>
		    								<input id="{{ categoria.category_id }}-{{ categoria }}" onclick="editarCategoriaModal(this.id)" type="button" class="btn btn-outline-success boton-editar-categoria" value="Editar">
		    							</td>
		    							<td>
		    								<input id="{{ categoria.category_id }}-{{ categoria }}" onclick="eliminarCategoriaModal(this.id)" type="button" class="btn btn-outline-danger" value="Eliminar">
		    							</td>
		    						</tr>
		    						{% endfor %}
		    					</tbody>
		    				</table>
		    			</div>
		    		</div>
		    		<!-- Termina tabla de categorías -->

		    		<!-- Tabla de kilatajes -->
		    		<div class="col-xl-6">
	    				<div class="table-responsive">
		    				<table class="table" id="tabla-kilatajes">
		    					<thead class="thead-dark">
		    						<tr>
		    							<th>Kilatajes</th>
		    							<th></th>
		    							<th></th>
		    						</tr>
		    					</thead>
		    					<tbody>
		    						{% for kilataje in kilatajes %}
		    						<tr>
		    							<td>{{ kilataje }}</td>
		    							<td>
		    								<input id="{{ kilataje.kilate_id }}-{{ kilataje }}" onclick="editarKilatajeModal(this.id)" type="button" class="btn btn-outline-success boton-editar-kilataje" value="Editar">
		    							</td>
		    							<td>
		    								<input id="{{ kilataje.kilate_id }}-{{ kilataje }}" onclick="eliminarKilatajeModal(this.id)" type="button" class="btn btn-outline-danger" value="Eliminar">
		    							</td>
		    						</tr>
		    						{% endfor %}
		    					</tbody>
		    				</table>
		    			</div>
		    		</div>
		    		<!-- Termina tabla de kilatajes -->

		    	</div>

		    	<br>
		    	<br>

		    	<div class="row">

			    	<!-- Tabla de códigos de barras -->
		    		<div class="col-xl-7">
		    			<div class="table-responsive">
		    				<table class="table" id="tabla-codigos">
		    					<thead class="thead-dark">
		    						<tr>
		    							<th>Códigos de Barras</th>
		    							<th>Categoría</th>
		    							<th>Kilataje</th>
		    							<th></th>
		    							<th></th>
		    						</tr>
		    					</thead>
		    					<tbody>
		    						{% for codigo in codigos %}
		    						<tr>
		    							<td>{{ codigo.barcode }}</td>
		    							<td>{{ codigo.category }}</td>
		    							<td>{{ codigo.kilate }}</td>
		    							<td>
		    								<input id="{{ codigo.barcode_id }}-{{ codigo.barcode }}-{{ codigo.category }}-{{ codigo.kilate }}" onclick="editarCodigoModal(this.id)" type="button" class="btn btn-outline-success" value="Editar">
		    							</td>
		    							<td>
		    								<input id="{{ codigo.barcode_id }}-{{ codigo.barcode }}-{{ codigo.category }}-{{ codigo.kilate }}" onclick="eliminarCodigoModal(this.id)" type="button" class="btn btn-outline-danger" value="Eliminar">
		    							</td>
		    						</tr>
		    						{% endfor %}
		    					</tbody>
		    				</table>
		    			</div>
		    		</div>
		    		<!-- Termina tabla de códigos de barras -->

		    		<!-- Tabla de unidades de medida -->
		    		<div class="col-xl-5">
		    			<div class="table-responsive">
		    				<table class="table" id="tabla-unidades">
		    					<thead class="thead-dark">
		    						<tr>
		    							<th>Unidades de Medida</th>
		    							<th></th>
		    							<th></th>
		    						</tr>
		    					</thead>
		    					<tbody>
		    						{% for unidad in unidades %}
		    						<tr>
		    							<td>{{ unidad }}</td>
		    							<td>
		    								<input id="{{ unidad.unit_measurement_id }}-{{ unidad }}" onclick="editarUnidadModal(this.id)" type="button" class="btn btn-outline-success" value="Editar">
		    							</td>
		    							<td>
		    								<input id="{{ unidad.unit_measurement_id }}-{{ unidad }}" onclick="eliminarUnidadModal(this.id)" type="button" class="btn btn-outline-danger" value="Eliminar">
		    							</td>
		    						</tr>
		    						{% endfor %}
		    					</tbody>
		    				</table>
		    			</div>
		    		</div>
		    		<!-- Termina tabla de unidades de medida -->

		    	</div>

		    	<br>
		    	<br>

		    	<div class="row">
		    		<!-- Tabla de proveedores -->
		    		<div class="col-xl-12">
		    			<div class="table-responsive">
		    				<table class="table" id="tabla-proveedores">
		    					<thead class="thead-dark">
		    						<tr>
		    							<th>Proveedores</th>
		    							<th>Teléfonos</th>
		    							<th>Direcciones</th>
		    							<th></th>
		    							<th></th>
		    						</tr>
		    					</thead>
		    					<tbody>
		    						{% for proveedor in proveedores %}
		    						<tr>
		    							<td>{{ proveedor.name }}</td>
											<td>{{ proveedor.phone }}</td>
		    							<td>{{ proveedor.address }}</td>
		    							<td>
		    								<input id="{{ proveedor.vendor_id }}-{{ proveedor.name }}-{{ proveedor.phone }}-{{ proveedor.address }}" onclick="editarProveedorModal(this.id)" type="button" class="btn btn-outline-success" value="Editar">
		    							</td>
		    							<td>
		    								<input id="{{ proveedor.vendor_id }}-{{ proveedor.name }}-{{ proveedor.phone }}-{{ proveedor.address }}" onclick="eliminarProveedorModal(this.id)" type="button" class="btn btn-outline-danger" value="Eliminar">
		    							</td>
		    						</tr>
		    						{% endfor %}
		    					</tbody>
		    				</table>
		    			</div>
		    		</div>
		    		<!-- Termina tabla de proveedores -->
		    	</div>

		    </div>
		  </div>
		</div>
	</div>

	<!-- Modal agrega categoría -->
	<div class="modal fade" id="agrega-categoria-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-success">
	        <h5 class="modal-title text-white font-weight-bold">Agregar Categorías</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form method="POST" id="form-categoria" autocomplete="off">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table" id="tabla-alta-categorias" style="width: 100%;">
    								<thead>
    									<tr>
    										<th>Ingrese el nombre de las categorías que desea agregar</th>
    									</tr>
    								</thead>
    								<tbody>
    									{% for i in cantidad_filas %}
    									<tr>
    										<td>
    											<input type="text" id="fila-categoria-{{ i }}" class="form-control border-bottom-success" name="name" placeholder="Ej. Anillo">
    										</td>
    									</tr>
    									{% endfor %}
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-categoria">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal agrega categoría -->

	<!-- Modal agrega kilataje -->
	<div class="modal fade" id="agrega-kilataje-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-warning">
	        <h5 class="modal-title text-white font-weight-bold">Agregar Kilatajes</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form method="POST" id="form-kilataje">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table" id="tabla-alta-kilatajes">
    								<thead>
    									<tr>
    										<th>Ingrese los kilatajes que desea agregar</th>
    									</tr>
    								</thead>
    								<tbody>
    									{% for i in cantidad_filas %}
    									<tr>
    										<td>
    											<input type="text" id="fila-kilataje-{{ i }}" class="form-control border-bottom-warning" name="name" placeholder="Ej. 10K">
    										</td>
    									</tr>
    									{% endfor %}
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-kilataje">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal agrega kilataje -->

	<!-- Modal agregar codigo de barras -->
	<div class="modal fade" id="agrega-codigo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-secondary">
	        <h5 class="modal-title text-white font-weight-bold">Agregar Códigos de Barras</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-codigo">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table" id="tabla-alta-codigos">
    								<thead>
    									<tr>
    										<th>Categoría</th>
    										<th>Kilataje</th>
    										<th>Código de Barras</th>
    									</tr>
    								</thead>
    								<tbody>
    									{% for i in cantidad_filas %}
    									<tr>
    										<td>
    											<select class="selectpicker" id="fila-codigo-categoria-{{ i }}" name="category">
    												<option value="---">---</option>
    												{% for categoria in categorias %}
    												<option value="{{ categoria.category_id }}">{{ categoria }}</option>
    												{% endfor %}
    											</select>
    										</td>
    										<td>
    											<select class="selectpicker" id="fila-codigo-kilataje-{{ i }}" name="kilate">
    												<option value="---">---</option>
    												{% for kilataje in kilatajes %}
    												<option value="{{ kilataje.kilate_id }}">{{ kilataje }}</option>
    												{% endfor %}
    											</select>
    										</td>
    										<td>
    											<input type="text" id="fila-codigo-{{ i }}" class="form-control border-bottom-secondary" name="barcode" placeholder="Ej. 1200078">
    										</td>
    									</tr>
    									{% endfor %}
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-codigo">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal agregar codigo de barras -->

	<!-- Modal agrega unidad de medida -->
	<div class="modal fade" id="agrega-unidad-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-info">
	        <h5 class="modal-title text-white font-weight-bold">Agregar Unidades de Medida</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-unidad">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table" id="tabla-alta-unidades">
    								<thead>
    									<tr>
    										<th>Ingrese las unidades de medida que desea agregar</th>
    									</tr>
    								</thead>
    								<tbody>
    									{% for i in cantidad_filas %}
    									<tr>
    										<td>
    											<input type="text" id="fila-unidad-{{ i }}" class="form-control border-bottom-info" name="name" placeholder="Ej. Gramos">
    										</td>
    									</tr>
    									{% endfor %}
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-unidad">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal agrega unidad de medida -->

	<!-- Modal agrega proveedor -->
	<div class="modal fade" id="agrega-proveedor-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-primary">
	        <h5 class="modal-title text-white font-weight-bold">Agregar Proveedor</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-proveedor">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<p class="h6">Ingrese los siguientes campos para agregar a un proveedor</p>
    							<table class="table table-striped" id="tabla-alta-proveedores">
    								<thead class="text-left">
    									<tr>
    										<th>Nombre</th>
    										<th>Teléfono</th>
    										<th>Dirección</th>
    									</tr>
    								</thead>
    								<tbody>
    									{% for i in cantidad_filas %}
    									<tr>
    										<td>
    											<input type="text" id="fila-proveedor-nombre-{{ i }}" class="form-control border-bottom-primary" name="name" placeholder="Nombre...">
    										</td>
    										<td>
    											<input type="text" id="fila-proveedor-telefono-{{ i }}" class="form-control border-bottom-primary" name="phone" placeholder="Teléfono...">
    										</td>
    										<td>
    											<input type="email" id="fila-proveedor-direccion-{{ i }}" class="form-control border-bottom-primary" name="address" placeholder="Dirección...">
    										</td>
    									</tr>
    									{% endfor %}
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-proveedor">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal agrega proveedor -->

	<!-- Modal edita categoria -->
	<div class="modal fade" id="editar-categoria-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-success">
	        <h5 class="modal-title text-white font-weight-bold">Editar Categoría</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-edita-categoria">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table">
    								<thead>
    									<tr>
    										<th>Edite la categoría a continuación</th>
    									</tr>
    								</thead>
    								<tbody>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-categoria" class="form-control border-bottom-success" name="name">
    										</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-editar-categoria">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal edita categoria -->

	<!-- Modal edita kilataje -->
	<div class="modal fade" id="editar-kilataje-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-warning">
	        <h5 class="modal-title text-white font-weight-bold">Editar Kilataje</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-edita-kilataje">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table">
    								<thead>
    									<tr>
    										<th>Edite el kilataje a continuación</th>
    									</tr>
    								</thead>
    								<tbody>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-kilataje" class="form-control border-bottom-warning" name="name">
    										</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-editar-kilataje">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal edita kilataje -->

	<!-- Modal edita código de barras -->
	<div class="modal fade" id="editar-codigo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-secondary">
	        <h5 class="modal-title text-white font-weight-bold">Editar Código de Barras</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-edita-codigo">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table">
    								<thead>
    									<tr>
    										<th id="encabezado-codigo">Edite el código de barras a continuación</th>
    									</tr>
    								</thead>
    								<tbody>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-codigo" class="form-control border-bottom-secondary" name="barcode">
    										</td>
    									</tr>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-codigo-categoria" class="form-control border-bottom-secondary" name="category" disabled="disabled">
    										</td>
    									</tr>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-codigo-kilataje" class="form-control border-bottom-secondary" name="kilate" disabled="disabled">
    										</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-editar-codigo">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal edita código de barras -->

	<!-- Modal edita unidad de medida -->
	<div class="modal fade" id="editar-unidad-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-info">
	        <h5 class="modal-title text-white font-weight-bold">Editar Unidad de Medida</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-edita-unidad">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table">
    								<thead>
    									<tr>
    										<th id="encabezado-unidad">Edite la unidad de medida a continuación</th>
    									</tr>
    								</thead>
    								<tbody>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-unidad" class="form-control border-bottom-info" name="name">
    										</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-editar-unidad">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal edita unidad de medida -->

	<!-- Modal edita proveedor -->
	<div class="modal fade" id="editar-proveedor-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-info">
	        <h5 class="modal-title text-white font-weight-bold">Editar Proveedor</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	<form method="POST" id="form-edita-proveedor">
	      	{% csrf_token %}
		      <div class="modal-body">
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="table-responsive">
    							<table class="table">
    								<thead>
    									<tr>
    										<th id="encabezado-proveedor">Edite al proveedor a continuación</th>
    									</tr>
    								</thead>
    								<tbody>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-proveedor-nombre" class="form-control border-bottom-info" name="name">
    										</td>
    									</tr>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-proveedor-telefono" class="form-control border-bottom-info" name="phone">
    										</td>
    									</tr>
    									<tr>
    										<td>
    											<input type="text" id="input-editar-proveedor-direccion" class="form-control border-bottom-info" name="address">
    										</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardar-editar-proveedor">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	<!--  Termina modal edita proveedor -->

	<!-- Modal eliminar categoria -->
	<div class="modal fade" id="eliminar-categoria-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-danger">
	        <h5 class="modal-title text-white font-weight-bold">Eliminar Categoria</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-eliminar-categoria" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" id="guardar-eliminar-categoria">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal eliminar categoría -->

	<!-- Modal eliminar kilataje -->
	<div class="modal fade" id="eliminar-kilataje-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-danger">
	        <h5 class="modal-title text-white font-weight-bold">Eliminar Kilataje</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-eliminar-kilataje" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" id="guardar-eliminar-kilataje">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal eliminar kilataje -->

	<!-- Modal eliminar codigo -->
	<div class="modal fade" id="eliminar-codigo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-danger">
	        <h5 class="modal-title text-white font-weight-bold">Eliminar Código de Barras</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-eliminar-codigo" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" id="guardar-eliminar-codigo">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal eliminar codigo -->

	<!-- Modal eliminar unidad -->
	<div class="modal fade" id="eliminar-unidad-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-danger">
	        <h5 class="modal-title text-white font-weight-bold">Eliminar Código de Barras</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-eliminar-unidad" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" id="guardar-eliminar-unidad">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal eliminar unidad -->

	<!-- Modal eliminar proveedor -->
	<div class="modal fade" id="eliminar-proveedor-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-danger">
	        <h5 class="modal-title text-white font-weight-bold">Eliminar Proveedor</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-eliminar-proveedor" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" id="guardar-eliminar-proveedor">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal eliminar proveedor -->

	
{% endblock %}

{% block scripts_variables %}
<script type="text/javascript" src="{% static '/js/inventarios/administrar_catalogos.js' %}"></script>
<!-- Latest compiled and minified JavaScript Selectpicker-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock %}