{% extends 'base.html' %}

{% load static %}

{% block css_variables %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/Inventarios/main_inventarios.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/Inventarios/crud_productos.css' %}">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-12">
		  <div class="card shadow mb-4">
		    <div class="card-header py-3">
		      <h3 class="m-0 font-weight-bold text-primary">Inventarios</h3>
		    </div>
		    <div class="card-body">
		    	<div id="mensajes">
	    			{% if messages %}
							{% for message in messages %}
								<div id="snackbar">{{ message }}</div>
							{% endfor %}
						{% endif %}
    			</div>

					<!-- Panel de filtrado -->
					<div class="row">
						<div class="col-xl-12 text-center">
							<span class="h4 text-dark">Panel de Filtrado</span>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xl-12">
							<form method="GET" id="filtros">
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
									    <label class="h6">Categorías</label>
									    {{ filtros.form.category }}
									  </div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
									    <label class="h6">Unidades de Medida</label>
									    {{ filtros.form.unit_measurement }}
									  </div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
									  	<label class="h6">Kilatajes</label>
									    {{ filtros.form.kilate }}
									  </div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
									    <label class="h6">Proveedores</label>
									    {{ filtros.form.vendor }}
									  </div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xl-6">
										<div class="form-group">
									    <label class="h6">Código de Barras</label>
									    {{ filtros.form.barcode }}
									  </div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xl-6">
										<input type="submit" class="btn btn-warning" value="Buscar">
									</div>
								</div>			
							</form>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-xl-12">
							<div class="table-responsive">
								<table class="table table-striped" id="tablaInventarios">
									<thead class="thead-dark">
										<tr>
											<th>Categoría</th>
											<th>Cantidad</th>
											<th>Unidad de Medida</th>
											<th>Kilataje</th>
											<th>Proveedor</th>
											<th>Código de Barras</th>
											<th></th>
											<th></th>							
										</tr>
									</thead>
									<tbody>
										{% for product in products %}
											<tr>
												<td>{{ product.category }}</td>
												<td>{{ product.quantity }}</td>
												<td>{{ product.unit_measurement }}</td>
												<td>{{ product.kilate }}</td>
												<td>{{ product.vendor }}</td>
												<td>{{ product.barcode }}</td>
												<td>
														<a href="{% url 'actualiza_producto' product.product_id %}" class="btn btn-outline-success">Editar</a>
												</td>
												<td>
													<button id="{{ product.product_id }}" onclick="eliminarProductoModal(this.id)" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminaModal">
													  Eliminar
													</button>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<br>
					<div class="row justify-content-center">
						<div class="col-xl-4 col-md-6 mb-4">
				      <div class="card border-left-success shadow h-100 py-2">
				        <div class="card-body">
				          <div class="row no-gutters align-items-center">
				            <div class="col mr-2">
				              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Piezas Totales</div>
				              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ piezas_totales.resultado_suma }}</div>
				            </div>
				            <div class="col-auto">
				            	<i class="far fa-gem fa-2x text-gray-300"></i>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-xl-4 col-md-6 mb-4">
				      <div class="card border-left-warning shadow h-100 py-2">
				        <div class="card-body">
				          <div class="row no-gutters align-items-center">
				            <div class="col mr-2">
				              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Gramos Totales (gr)</div>
				              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ gramos_totales.resultado_suma }}</div>
				            </div>
				            <div class="col-auto">
				            	<i class="fas fa-balance-scale fa-2x text-gray-300"></i>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
					</div>
					<div class="row justify-content-center">
						<div class="col-xl-8">
							<a class="btn btn-primary" href="{% url 'agrega_producto' %}" id="add-item">Agregar Producto</a>
						<!--   <a href="#" class="btn btn-primary btn-icon-split" id="add-item" style="width: 100%;">
                <span class="text">Agregar nuevo producto</span>
              </a> -->
						</div>
					</div>

		    </div>
		  </div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="eliminaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="elimina_producto_form" method="GET">
	      	{% csrf_token %}
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block scripts_variables %}
	<script type="text/javascript" src="{% static '/js/inventarios/main_inventarios.js' %}"></script>
{% endblock %}