{% extends 'base.html' %}

{% load static %}

{% block css_variables %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/inventarios/crud_productos.css' %}">
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-xl-12">
		  <div class="card shadow mb-4">
		    <div class="card-header py-3">
		      <h3 class="m-0 font-weight-bold text-primary">Agrega Producto</h3>
		    </div>
		    <div class="card-body">
		    	<div class="row">
		    		<div class="col-xl-12">
		    			<div id="mensajes">
			    			{% if messages %}
									{% for message in messages %}
										<div id="snackbar">{{ message }}</div>
									{% endfor %}
								{% endif %}
		    			</div>
		    			<form method="POST" id="agrega-producto">
		    				{% csrf_token %}
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
			    						<label for="exampleInputEmail1">Categoría</label>
			    						{{ form.category }}
		    						</div>
		    					</div>
		    				</div>
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
				    					<label for="exampleInputEmail1">Cantidad</label>
				    					{{ form.quantity }}
		    						</div>
		    					</div>
		    				</div>
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
				    					<label for="exampleInputEmail1">Unidad de Medida</label>
				    					{{ form.unit_measurement }}
		    						</div>
		    					</div>
		    				</div>
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
				    					<label for="exampleInputEmail1">Kilataje</label>
				    					{{ form.kilate }}
		    						</div>
		    					</div>
		    				</div>
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
				    					<label for="exampleInputEmail1">Proveedor</label>
				    					{{ form.vendor }}
		    						</div>
		    					</div>
		    				</div>
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
				    					<label for="exampleInputEmail1">Código de Barras</label>
				    					<input type="number" class="form-control" id="barcode-input" disabled="true">
		    						</div>
		    					</div>
		    				</div>
		    				<div class="row justify-content-center">
		    					<div class="col-xl-6">
		    						<div class="form-group">
				    					<input type="submit" class="btn btn-success" value="Guardar">
		    						</div>
		    					</div>
		    				</div>
		    			</form>
		    		</div>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>

	<!-- Modal Agregar Codigo de Barras -->
	<div class="modal fade" id="agregaCodigoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Agregar Código de Barras</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	     	{% csrf_token %}
	      <form method="POST">
		      <div class="modal-body">
		      	<div class="row">
		      		<div class="col-xl-12" id="mensaje-codigo-barras">
		      			<p class="h5 text-center"></p>
		      		</div>
		      	</div>
		      	<div class="row">
		      		<div class="col-xl-12">
		      			<p class="h6 text-center">Lo puede agregar a continuación</p>
		      		</div>
		      	</div>
		      	<br>
	        	<div class="row justify-content-center">
    					<div class="col-xl-12 text-center">
    						<div class="form-group">
	    						<label for="nuevo-codigo-barras">Código de Barras</label>
	    						<input type="number" id="nuevo-codigo-barras" class="form-control">
    						</div>
    					</div>
    				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success">Guardar</button>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>
	
{% endblock %}

{% block scripts_variables %}
	<script type="text/javascript" src="{% static '/js/inventarios/crud_productos.js' %}"></script>
{% endblock %}