{% extends 'base.html' %}

{% load static %}

{% block css_variables %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/clientes/main_clientes.css' %}">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-12">
		  <div class="card shadow mb-4">
		    <div class="card-header py-3">
		      <h3 class="m-0 font-weight-bold text-primary">Clientes</h3>
		    </div>
		    <div class="card-body">
		    	<div id="snackbar"></div>
					<div class="row">
						<div class="col-xl-12">
							<div class="table-responsive">
								<table class="table" id="tablaClientes">
									<thead class="thead-dark">
										<tr>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>Correo</th>
											<th>Teléfono</th>
											<th>Ver más</th>
											<th>Editar</th>
											<th>Eliminar</th>
										</tr>
									</thead>
									<tbody>
										{% for cliente in clientes %}
										<tr>
											<td>{{ cliente.first_name }}</td>
											<td>{{ cliente.last_name }}</td>
											<td>{{ cliente.email }}</td>
											<td>{{ cliente.phone }}</td>
											<td><input type="button" value="Ver más" class="btn btn-outline-success"></td>
											<td><input type="button" id="{{ cliente.client_id }}-{{ cliente.first_name }}-{{ cliente.last_name }}-{{ cliente.email }}-{{ cliente.phone }}" value="Editar" class="btn btn-outline-warning" onclick="editarClienteModal(this.id)"></td>
											<td><input type="button" id="{{ cliente.client_id }}-{{ cliente.first_name }}-{{ cliente.last_name }}-{{ cliente.email }}-{{ cliente.phone }}" value="Eliminar" class="btn btn-outline-danger" onclick="eliminarClienteModal(this.id)"></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-xl-3 col-md-6 mb-4">
				      <div class="card border-left-primary shadow h-100 py-2">
				        <div class="card-body">
				          <div class="row no-gutters align-items-center">
				            <div class="col mr-2">
				              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Clientes Totales</div>
				              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ clientes_totales }}</div>
				            </div>
				            <div class="col-auto">
				           		<i class="fas fa-user-friends fa-2x text-gray-300"></i>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
					</div>
					<div class="row justify-content-center">
						<div class="col-xl-8">
							<input type="button" class="btn btn-primary" id="input-alta-cliente" name="add-item" value="Alta cliente">
						</div>
					</div>

				<!-- 	<hr>
					<div class="row">
						<div class="col-xl-2">
							<img src="{% static '/images/default-user-image.png' %}" alt="Imagen de usuario" id="user-image" class="img-thumbnail">
						</div>
						<div class="col-xl-6">
							<div class="table-responsive-md">
								<table id="user-info">
									<tbody class="text-left">
										<tr>
											<th>Nombre: </th>
											<td>Pedrito</td>
										</tr>
										<tr>
											<th>Correo: </th>
											<td>pedrito@gmail.com</td>
										</tr>
										<tr>
											<th>Teléfono: </th>
											<td>7223235708</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xl-12">
							<div class="table-responsive-md">
								<table class="table">
									<thead class="thead-light">
										<tr>
											<th>Pedido</th>
											<th>Cantidad (Piezas)</th>
											<th>Cantidad (Gramos)</th>
											<th>Fecha</th>
											<th>Total ($)</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Anillo</td>
											<td>2</td>
											<td>22</td>
											<td>30-09-2020</td>
											<td>1234</td>
										</tr>
										<tr>
											<td>Anillo</td>
											<td>2</td>
											<td>22</td>
											<td>30-09-2020</td>
											<td>1234</td>
										</tr>
										<tr>
											<td>Anillo</td>
											<td>2</td>
											<td>22</td>
											<td>30-09-2020</td>
											<td>1234</td>
										</tr>
										<tr>
											<td>Anillo</td>
											<td>2</td>
											<td>22</td>
											<td>30-09-2020</td>
											<td>1234</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div> -->

		    </div>
		  </div>
		</div>
	</div>

	<!-- Modal agregar cliente -->
	<div class="modal fade" id="alta-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-success">
	        <h5 class="modal-title text-white font-weight-bold">Alta Cliente</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="alta-cliente-form" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        {{ form.as_p }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success">Guardar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal editar cliente -->
	<div class="modal fade" id="editar-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-warning">
	        <h5 class="modal-title text-white font-weight-bold">Editar Cliente</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-edita-cliente" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		      	<div class="form-group">
		      		<label for="input-editar-cliente-nombre">Nombre</label>
		      		<input type="text" name="first_name" class="form-control" id="input-editar-cliente-nombre">
		      	</div>
		      	<div class="form-group">
		      		<label for="input-editar-cliente-apellido">Apellido</label>
		      		<input type="text" name="last_name" class="form-control" id="input-editar-cliente-apellido">
		      	</div>
		      	<div class="form-group">
		      		<label for="input-editar-cliente-correo">Correo</label>
		      		<input type="email" name="email" class="form-control" id="input-editar-cliente-correo">
		      	</div>
		      	<div class="form-group">
		      		<label for="input-editar-cliente-telefono">Telefono</label>
		      		<input type="number" name="phone" class="form-control" id="input-editar-cliente-telefono">
		      	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-warning" id="guardar-editar-cliente">Guardar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal para editar cliente -->

	<!-- Modal eliminar cliente -->
	<div class="modal fade" id="eliminar-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-gradient-danger">
	        <h5 class="modal-title text-white font-weight-bold">Eliminar cliente</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form id="form-eliminar-cliente" method="POST">
	      	{% csrf_token %}
		      <div class="modal-body">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" id="guardar-eliminar-cliente">Eliminar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<!-- Termina modal eliminar cliente -->
{% endblock %}

{% block scripts_variables %}
	<script type="text/javascript" src="{% static '/js/clientes/main_clientes.js' %}"></script>
{% endblock %}